<% content_for :img, "groschat.jpg" %>
<%= render 'shared/banner-mini-choice' %>


<% content_for :show_what do %>
    <% @products.each do |product| %>
        <tr id='col-product-<%=product.id%>' class='col-product'>
            <td>
              <div class="img-container">
                <%if product.cat_picts.attached?%>
                    <%= image_tag product.cat_picts, alt:'Product Pict' %>
                <% end %>
            </div>
        </td>
        <td class="td-name">
            <%= link_to product_path(product.id) do %>
                <%= product.title %>
            <% end %>
            <br />
            <small>by KittyCats</small>
        </td>

        <td class="td-number">
            <small>€</small><%= product.price %>
        </td>
        <td class="td-number">
            <span id='productcart-number-<%= product.id %>'> 
                <%= product.get_order_product_related_to(@order).number %>
            </span>
        </td>
        <td class="td-number">
            <small>€</small><span id='productcart-total-<%= product.id %>'><%= product.get_order_product_related_to(@order).total %></span>
        </td>
        <td class="td-actions">
        </td>
        </tr>
    <% end %>
<% end %>

<% content_for :total do %>
    <%= @order.total  %>
<% end %>

<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>
                <small>Ma commande</small>
            </h4>
        </div>
        <div class="col-md-12">
            <h4>
                <small>Adresse a laquelle la photo a ete envoyee : <%= current_user.email %></small>
            </h4>
        </div>    
        <%= render 'shared/product_cartorder' %>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>