<% content_for :img, "adorable-chatons.jpg" %>
<%= render 'shared/banner-mini-choice' %> 

<% content_for :show_what do %>
    <%= render @products %>
<% end %>

<% content_for :button do %>
    <% unless @products.empty? %>    
        <%= link_to new_cart_order_path(@cart.id) do %>
            <button type="button" rel="tooltip" class="btn btn-primary btn-round ">
                Purchase
                <i class="now-ui-icons arrows-1_minimal-right"></i>
            </button>
        <% end %>
    <% end %>
<% end %>

<% content_for :total do %>
    <%= @cart.total  %>
<% end %>

<% content_for :empty_basket do %>
    <%= link_to 'Vider le panier', cart_path(@cart.id), remote: true, method: :delete, data: {confirm: 'Are you sure ?'} %>
<% end %>

<br>
<div class="container">
  <div class="row">                             
    <div class="col-md-12">
        <h4>
            Mon panier
        </h4>
        <%= render 'shared/product_cartorder' %>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>