<tr id='col-product-<%=product.id%>' class='col-product'>
    <td>
        <div class="img-container">
            <%if product.cat_picts.attached?%>
                <%= image_tag product.cat_picts, alt:'Product Pict', size:'120x120' %>
            <% end %>
        </div>
    </td>
    <td class="td-name">
            <%= product.title %>
        <br />
        <small>by KittyCats</small>
    </td>

    <td class="td-number">
        <small>€</small><%= product.price  %>
    </td>
    <td class="td-number">
        <span id='productcart-number-<%= product.id %>'> 
            <%= product.get_cart_product_related_to(@cart).number %>
        </span>
    </td>
    <td class="td-number">
        <small>€</small><span id='productcart-total-<%= product.id %>'><%= product.get_cart_product_related_to(@cart).total %></span>
    </td>
    <td class="td-actions">
    </td>
</tr>
