<% content_for :show_what do %>
<% @products.each do |product| %>
<%= render 'product', product: product %>
<% end %>
<% end %>

<% content_for :button do %>
<span>Payed</span>
<% end %>

<% content_for :total do %>
<%= @cart.total  %>
<% end %>


<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Salut <%= @user.first_name %>!</h1>
  <p>
    Voici ta commande : <br>
    <br>
    <div class="container">
      <center>
        <div class="row">
          <%= render 'shared/product_cartorder' %>
          <td colspan="3">
            <% @products.each do |cat_picts|%>
            <%= cat_picts.pict_url %>
            <% end -%>
          </td>
        </div>
      </center>
    </div>
  </p>
  <p>
    Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
  </p>
  <p> À très vite sur perma-culture.org !
  </body>
  </html>


