<tr id='col-product-<%=product.id%>' class='col-product'>
    <td>
      <div class="img-container">
        <%if product.cat_picts.attached?%>
        <%= image_tag product.cat_picts, alt:'Product Pict 0' %>
        <% end %>
      </div>
    </td>
    <td class="td-name">
        <%= link_to product_path(product.id) do %>
            <%= product.title %>
        <% end %>
        <br />
        <small>by KittyCats</small>
    </td>
    <td class="td-number">
        <small>€</small><%= product.price  %>
    </td>
    <td class="td-number">
        <span id='productcart-number-<%= product.id %>'> 
            <%= product.get_cart_product_related_to(@cart).number %>
        </span>
        <div class="btn-group">
            <%= link_to product_cart_product_path(product_id: product.id, destroy: 'yes'), method: 'patch', remote: true do %>
            <button class="btn btn-primary btn-sm"> <i class="now-ui-icons ui-1_simple-delete"></i> </button>
            <% end %>
            <%= link_to product_cart_product_path(product_id: product.id, update: 'yes'), method: 'patch', remote: true do %>
            <button class="btn btn-primary btn-sm"> <i class="now-ui-icons ui-1_simple-add"></i> </button>
            <% end %>
        </div>
    </td>
    <td class="td-number">
        <small>€</small><span id='productcart-total-<%= product.id %>'><%= product.get_cart_product_related_to(@cart).total %></span>
    </td>
    <td class="td-actions">
        <%= button_tag class:'btn btn-neutral', rel:"tooltip", title:"Remove item", id:'remove-item-#{product.id}', data: {remote: true, url: product_cart_product_path(product.id), method: :delete, placement:"left", confirm: 'Are you sure ?' } do %> 
            <i class="now-ui-icons ui-1_simple-remove"></i>
        <% end %>
    </td>
</tr>

