<% content_for :img, "adorable-clair.jpg" %>
<%= render 'shared/banner-mini-choice' %>
<p id="notice"><%= notice %></p>
<br>
<br>
<br>
<div class="container">
	<div class="col-12 ml-auto mr-auto d-flex">
		<div class="col-6">
			<%if @product.cat_picts.attached?%>
				<%= image_tag @product.cat_picts, class:'add_watermark', id:"myimage", size:"400x400", data: { toggle:"modal", target:".supermodal"} %>
			<% end %>
		</div>
		<div class="col-6">
				<h2 class="title text-primary"><%=@product.title%></h2>

			<h5 class="category"><%=@product.category.title%></h5>
			<div class="d-flex justify-content-between">
				<h2 class="main-price"><span class="price"><%= @product.price  %>&euro;</span></h2>
				<div>
					<% if current_user && user_signed_in? %>
						<%= link_to 'Add to cart', product_cart_products_path(@product.id), class: "btn btn-primary mr-3 bouton", method: 'post', remote: true %><br><br>
					<% end %>
				</div>
			</div>
			<div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
				<div class="card card-plain">
					

					<div class="card-header" role="tab" id="headingOne">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							Description 
							<i class="now-ui-icons arrows-1_minimal-down"></i>
						</a>
					</div>
					<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
						<div class="card-body">
							<p><%=@product.description%></p>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>

<!-- ---------------------------- Modal --------------------------------- -->
<div class="modal fade supermodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style='width:800px'>
  <div class="modal-dialog">
    <div class="modal-content">     
    	<%= image_tag @product.cat_picts, class:'add_watermark', width:'800px'%>
    </div>
  </div>
</div>
<!-- ---------------------------- End Modal --------------------------------- -->

<br>
<br>
<br>
        <div class="section related-products" data-background-color="black">
            <div class="container">
                <h3 class="title text-center">Dans la meme categorie:</h3>
                <div class="row">
                	<% @product.category.products[0..3].each do |product| %>
	                    <div class="col-sm-6 col-md-3">
	                        <div class="card card-product">
	                            <div class="card-image">
	                                <a href="#">
	                                    <%= image_tag product.cat_picts, class:'img rounded' %>
	                                </a>
	                            </div>
	                            <div class="card-body">
	                                <h6 class="category text-primary"><%= product.category.title %></h6>
	                                <h4 class="card-title">
	                                    <a href="#pablo" class="card-link"><%= product.title %></a>
	                                </h4>
	                                <div class="card-description font-bold">
	                                    <%= product.description %>
	                                </div>
	                                <div class="card-footer">
	                                    <div class="price-container">
	                                        <span class="price">€<%= product.price %></span>
	                                    </div>
	                                    <button class="btn btn-neutral btn-icon btn-round pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Add to wishlist">
	                                        <i class="now-ui-icons ui-2_favourite-28"></i>
	                                    </button>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
					<% end %>
                </div>
            </div>
        </div>


<script>
$(document).ready(function() {
$(function(){
  $('.add_watermark').watermark({
    path: '<%= image_path("watermark.png") %>'
  });
});
});
</script> 


